/*
----------------------
COMPONENTS
---------------------- */

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100px;
  z-index: 999;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('../img/dogBG.jpg');
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  list-style: none;
}

.nav__link {
  font-size: 1.6rem;
  font-weight: var(--fw-);

  text-decoration: none;
  color: #fff;
  margin-left: 4rem;
}
.nav__link:hover {
  border-bottom: 2px solid #fff;
}

/* COntact */
.contact {
  padding: 8rem 0;

  display: flex;
  flex-direction: column;
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/backgrounds/contact-BG-min.jpg');
}

.form {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;

  padding: 4rem;

  background-color: #fff;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group-pref {
  flex-direction: row;
}

.form-group-pref label {
  margin-right: 1rem;
  margin-top: 0.3rem;
}

.form-group-pref .input-control {
  margin-right: 0.6rem;
}

.form-group label {
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  margin-bottom: 0.5rem;
}

.form-group .input-control {
  display: block;

  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 10px;
  border: 1px solid #999;
}

.form-group textarea {
  height: 20rem;
  padding: 1rem;
  font-size: 1.6rem;
  resize: none;
}

.form-text h3 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--clr-primary);
}
.form-text p {
  font-size: 1.6rem;
  font-weight: var(--fw-700);
}
/* Footer */
.footer {
  background: linear-gradient(
    to right,
    var(--clr-secondary),
    var(--clr-secondary-light)
  );
  position: relative;
  z-index: 1;
  padding: 8rem 0;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__address--1 {
  margin-bottom: 3rem;
}

.footer__address h4 {
  font-size: 1.8rem;
  color: #fff;
}

.footer__address h5 {
  font-size: 1.3rem;
  color: #fff;
}

.footer__address span {
  font-size: 1.4rem;
  color: #fff;
}

.footer__social {
  grid-column: end;
}

.footer__social .fab {
  color: #fff;
}
.footer__social h3 {
  font-size: 3rem;
  color: #fff;
}
.footer p {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}
.footer__social i {
  margin-top: 1rem;
  margin-right: 1rem;
}

.footer__terms {
  padding-top: 2rem;
}
.footer__terms ul {
  display: flex;
}
.footer__terms ul li {
  list-style: none;
  transition: all 300ms;
}

.footer__terms ul li:not(:first-child) {
  margin-left: 2rem;
}

.footer__terms ul li a {
  font-size: 1.5rem;
  color: #fff;
}

.footer__terms ul li:hover {
  transform: translateY(-5px);
}
