/* Showcase */
.showcase {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/dogBG.jpg');
  background-size: cover;
  background-position: right;
}

.showcase__container {
  display: flex;
  align-items: center;
}

.showcase__content {
  max-width: 70rem;
}

.showcase__text {
  font-size: 2rem;
  font-weight: var(--fw-);
  color: #f0e9e9;
}

/* Features */
.features {
  padding: 10rem 0;
}

.features__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  gap: 6rem;
}

.feature__icon {
  font-size: 4.5rem;
  color: var(--clr-secondary);
  margin-bottom: 1rem;
}

.feature__text {
  font-size: 1.6rem;
}

/* About */
.about {
  background-image: linear-gradient(
    120deg,
    var(--clr-primary),
    var(--clr-primary-light)
  );
  border-bottom: 1px solid #f0e9e9;
}
.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 6rem;
}
.about__picture {
  width: 100%;
  height: 100%;
}

.about__picture img {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: top;
}

.about__content {
  padding: 6rem 0;
}
.about__content .heading-2 {
  color: var(--clr-primary);
}

.about__text {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.about__text .heading-2 {
  color: #fff;
}

.about__text .p {
  color: #fff;
  font-weight: var(--fw-700);
}
.about__owner {
  color: #fff;
}
.about__owner strong {
  color: var(--clr-secondary);
}

/* TESTIMONIALS */
.testimonials {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 10rem;
  z-index: 100;
}

.testimonial-slider {
  display: block;
  width: 100%;
  height: 20rem;
  margin-top: 8rem;
  text-align: center;
}

.testimonial-slider ul.slider {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;

  display: inline-block;
  width: 100%;
  height: 35rem;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-slider ul.slider li {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  margin: 0 auto;
}

.testimonial-slider-content {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  border: 1px solid rgb(212, 212, 212);
  transform: skewX(-15deg);
}

.testimonial-slider ul.slider li:nth-child(1) {
  opacity: 1;

  -webkit-animation: fade-animation-1 25s infinite;
  animation: fade-animation-1 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(2) {
  -webkit-animation: fade-animation-2 25s infinite;
  animation: fade-animation-2 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(3) {
  -webkit-animation: fade-animation-3 25s infinite;
  animation: fade-animation-3 25s infinite;
}
.testimonial-slider ul.slider li:nth-child(4) {
  -webkit-animation: fade-animation-4 25s infinite;
  animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
  display: inline-block;
  font: normal 2rem / 1.25 var(--ff-open-sans), Helvetica, Arial, sans-serif;
  letter-spacing: 0.5pt;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 35ch;
}

.testimonial-slider .source {
  margin-top: 2.5rem;
  color: var(--clr-primary);
  font-size: 2.4rem;
  font-style: italic;
}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  3%,
  22% {
    opacity: 1;
  }
}
@keyframes fade-animation-2 {
  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }
  28%,
  47% {
    opacity: 1;
  }
}
@keyframes fade-animation-3 {
  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  53%,
  72% {
    opacity: 1;
  }
}
@keyframes fade-animation-4 {
  0%,
  75%,
  100% {
    opacity: 0;
  }
  78%,
  97% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-1 {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  3%,
  22% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-animation-2 {
  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }
  28%,
  47% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-animation-3 {
  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  53%,
  72% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-animation-4 {
  0%,
  75%,
  100% {
    opacity: 0;
  }
  78%,
  97% {
    opacity: 1;
  }
}
