:root {
  --clr-primary: #e76f51;
  --clr-primary-light: #e9c46a;
  --clr-primary-dark: #f4a261;

  --clr-secondary: #2a9d8f;
  --clr-secondary-dark: #264653;

  --clr-grey: #333;

  --ff-karla: 'Karla', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-karla);
  font-weight: var(--fw-400);
  line-height: 1.7;
  color: #333;
  background-color: #f8f8f8;
}

img {
  width: 100%;
  max-width: 100%;
}
