:root {
  --clr-primary: #1c1570;
  --clr-primary-light: #160559;
  --clr-primary-dark: #0f003d;

  --clr-secondary: #ffd000;
  --clr-secondary-light: #ffe500;

  --clr-grey: #333;
  --clr-black: #000;

  --clr-bg: #f6f4e6;

  --ff-open-sans: 'Open Sans', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-open-sans);
  font-weight: var(--fw-400);
  line-height: 1.7;
  color: #333;
}

img {
  width: 100%;
  max-width: 100%;
}
