@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .showcase {
    padding: 3rem;
    text-align: center;
  }
  .showcase__container {
    flex-direction: column;
  }
  .showcase__content {
    padding-top: 2rem;
  }
  .showcase__content .heading-1 {
    font-size: 5.5rem;
  }

  .showcase__text {
    font-size: 1.6rem;
  }

  .showcase__img {
    order: -1;
    background-size: cover;
  }

  /* features */
  .features {
    text-align: center;
  }

  /* about */
  .about {
    text-align: center;
  }

  .about .about__container {
    grid-template-columns: 1fr;
  }
  .about .about__content {
    align-items: center;
  }
}
