@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .showcase {
    padding: 3rem;
    text-align: center;
  }
  .showcase__container {
    flex-direction: column;
  }
  .showcase__content {
    padding-top: 2rem;
  }
  .showcase__content .heading-1 {
    font-size: 5.5rem;
  }

  .showcase__text {
    font-size: 1.6rem;
  }

  .showcase__img {
    order: -1;
    background-size: cover;
  }

  /* features */
  .features {
    text-align: center;
  }

  /* about */
  .about {
    text-align: center;
  }

  .about .about__container {
    grid-template-columns: 1fr;
  }
  .about .about__content {
    padding: 3rem;
    text-align: center;
  }

  /* Mobile */
  .nav {
    display: none;
  }
  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* Adopt */
  .list-showcase .heading-2 {
    font-size: 8rem;
  }
  .list-showcase .heading-2,
  .list-showcase .heading-3 {
    text-align: center;
  }

  .list-showcase .heading-3 {
    top: 90%;
  }

  /* BLOG */
  .main__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .articles__container .card {
    grid-template-columns: 1fr;
    height: 100%;
  }

  .article__description {
    padding: 2rem;
  }

  .store__banner img {
    height: 50vh;
    object-fit: contain;
  }
}
